.content {
    text-align: center;

    @include respond(desktop) {
        text-align: left;
    }

    &__wrapper {
        @include respond(desktop) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            padding: 0 4rem;
        }
    }

    &__image {
        width: 100%;
        margin-bottom: 3rem;

        &:nth-child(1) {
            display: block;
            @include respond(desktop) {
                display: none;
            }
        }

        &:nth-child(2) {
            display: none;
            order: 2;
            width: 68%;
            justify-self: end;
            @include respond(desktop) {
                display: block;
            }
        }
    }

    &__headline {
        font-size: 2rem;
        margin-bottom: 1.2rem;

        @include respond(desktop) {
            font-size: 4.5rem;
            margin-bottom: 1.8rem;
        }
    }

    &__description {
        color: var(--clrMediumGray);
        margin-bottom: 1.5rem;
        line-height: 1.5rem;

        @include respond(desktop) {
            padding-right: 2rem;
            margin-bottom: 2.3rem;
        }
    }

    &__button {
        display: inline-block;
        background-color: var(--clrAlmostBlack);
        color: var(--clrAlmostWhite);
        padding: .920rem 1.5rem;
        margin-bottom: 5rem;
        border-radius: 1rem;
        border: 1px solid var(--clrAlmostBlack);
        transition: background-color .3s ease;

        &:hover {
            background-color: transparent;
            color: var(--clrAlmostBlack);
        }
    }

    &__sponsors {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .8rem;
        justify-items: center;
        padding: 0 .8rem;

        @include respond(desktop) {
            gap: 2rem;
            justify-items: start;
        }

        &__image {
            width: 80%;
            @include respond(desktop) {
                width: 100%;
            }
        }
    }
}