:root {
    --fontNormal: 500;
    --fontBold: 600;
    --clrModerateViolet: hsl(263, 55%, 52%);
    --clrVeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --clrVeryDarkBlackishBlue: hsl(219, 29%, 14%);
    --clrWhite: hsl(0, 0%, 100%);
    --clrLightGray: hsl(0, 0%, 81%);
    --clrLightGrayishBlue: hsl(210, 46%, 95%);

    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    vertical-align: baseline;
}

body {
    background-color: var(--clrLightGrayishBlue);
    display: grid;
    place-items: center;
}

.testimonial-cards {
    .container {
        margin: 2rem;
        display: block;

        .card {
            background-color: pink;
            padding: 2.3rem;
            margin-bottom: 1.5rem;
            border-radius: .5rem;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

            &__image {
                object-fit: cover;
                border-radius: 50%;
                width: 2.3rem;
                margin-right: 1rem;
            }

            &__profile {
                display: inline-block;
                margin-bottom: 1.5rem;

                &--status {
                    color: inherit;
                    opacity: 50%;
                }
            }

            &__headline {
                font-size: 2rem;
                font-weight: var(--fontBold);
                margin-bottom: 1.6rem;
            }

            &__details {
                color: inherit;
                opacity: 70%;
            }

            &:nth-child(1) {
                background: url('../../images/bg-pattern-quotation.svg') var(--clrModerateViolet) no-repeat;
                background-position: 85% 0%;
                color: var(--clrWhite);
            }

            &:nth-child(2) {
                background: var(--clrVeryDarkGrayishBlue);
                color: var(--clrWhite);
            }

            &:nth-child(3),
            &:nth-child(5) {
                background: var(--clrWhite);
                color: var(--clrVeryDarkGrayishBlue);
            }

            &:nth-child(4) {
                background: var(--clrVeryDarkBlackishBlue);
                color: var(--clrWhite);
            }

            &:last-child {
                grid-column-start: 4;
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }
    }
}

// Utility Classes
.g-col-span-2 {
    grid-column: span 2;
}

.border-primary {
    border: 2px solid var(--clrModerateViolet);
}

.border-secondary {
    border: 2px solid hsl(264, 82%, 70%);
}

// Desktop Query

@media (min-width: 992px) {
    .testimonial-cards {
        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.4rem;

            .card {
                margin-bottom: 0;
            }
        }
    }
}