:root {
  --clrAlmostWhite: hsl(0, 0%, 98%);
  --clrMediumGray: hsl(0, 0%, 41%);
  --clrAlmostBlack: hsl(0, 0%, 8%);
  --fontNormal: 400;
  --fontBold: 700;
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  padding: 0 1.2rem;
}

.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--clrAlmostWhite);
}

@media (min-width: 992px) {
  .navbar {
    padding: 1.4rem 2rem;
  }
}

@media (min-width: 992px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    background-color: transparent;
  }
}

.navbar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__menu-btn {
  background-color: transparent;
}

@media (min-width: 992px) {
  .navbar__menu-btn {
    display: none;
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  background-color: var(--clrAlmostWhite);
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 1.5rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.navbar__list.opened {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  width: 65%;
}

@media (min-width: 992px) {
  .navbar__list {
    position: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 3rem;
    padding: 0;
    -webkit-transform: none;
            transform: none;
  }
}

.navbar__list__item {
  position: relative;
  margin-right: 3rem;
  padding: .8rem 0;
}

@media (min-width: 992px) {
  .navbar__list__item {
    padding: 0;
  }
}

.navbar__list__item__link {
  color: var(--clrMediumGray);
}

.navbar__list__item__link:hover {
  color: var(--clrAlmostBlack);
}

.navbar__list__item__link--button {
  display: inline-block;
  border: 2px solid var(--clrMediumGray);
  color: var(--clrMediumGray);
  padding: .6rem 1rem;
  border-radius: .8rem;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.navbar__list__item__link--button:hover {
  border-color: var(--clrAlmostBlack);
  color: var(--clrAlmostBlack);
}

.navbar__list__item__link.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__list__item__link.dropdown .icon {
  margin-left: .5rem;
}

.navbar__list__item__dropdown {
  display: none;
  color: var(--clrMediumGray);
  padding-top: 1rem;
  margin-left: 1rem;
}

.navbar__list__item__dropdown.opened {
  display: block;
}

@media (min-width: 992px) {
  .navbar__list__item__dropdown {
    position: absolute;
    left: 0;
    width: 8rem;
    font-size: .8rem;
    top: 2rem;
    padding: .8rem 1rem;
    background-color: var(--clrAlmostWhite);
    border-radius: .4rem;
    margin-left: 0;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.navbar__list__item__dropdown li {
  padding: .6rem 0;
}

.navbar__list__item__dropdown li img {
  margin-right: .5rem;
}

.navbar__list__item:last-child {
  margin-right: 0;
}

.navbar__list.auth {
  margin-left: auto;
  display: none;
}

.navbar__list.auth .login {
  margin-right: 1.5rem;
}

@media (min-width: 992px) {
  .navbar__list.auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.content {
  text-align: center;
}

@media (min-width: 992px) {
  .content {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .content__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 4rem;
  }
}

.content__image {
  width: 100%;
  margin-bottom: 3rem;
}

.content__image:nth-child(1) {
  display: block;
}

@media (min-width: 992px) {
  .content__image:nth-child(1) {
    display: none;
  }
}

.content__image:nth-child(2) {
  display: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 68%;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (min-width: 992px) {
  .content__image:nth-child(2) {
    display: block;
  }
}

.content__headline {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

@media (min-width: 992px) {
  .content__headline {
    font-size: 4.5rem;
    margin-bottom: 1.8rem;
  }
}

.content__description {
  color: var(--clrMediumGray);
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

@media (min-width: 992px) {
  .content__description {
    padding-right: 2rem;
    margin-bottom: 2.3rem;
  }
}

.content__button {
  display: inline-block;
  background-color: var(--clrAlmostBlack);
  color: var(--clrAlmostWhite);
  padding: .920rem 1.5rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
  border: 1px solid var(--clrAlmostBlack);
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.content__button:hover {
  background-color: transparent;
  color: var(--clrAlmostBlack);
}

.content__sponsors {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: .8rem;
  justify-items: center;
  padding: 0 .8rem;
}

@media (min-width: 992px) {
  .content__sponsors {
    gap: 2rem;
    justify-items: start;
  }
}

.content__sponsors__image {
  width: 80%;
}

@media (min-width: 992px) {
  .content__sponsors__image {
    width: 100%;
  }
}

main {
  padding-top: 4.5rem;
  background-color: var(--clrAlmostWhite);
  height: 100vh;
}

@media (min-width: 992px) {
  main {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}
