html {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  list-style: none;
}

body {
  padding: 2.5em 0;
  background-image: url("../../images/bg-pattern-top-desktop.svg"), url("../../images/bg-pattern-bottom-desktop.svg");
  background-size: max(50%, 400px);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row:nth-child(1) {
  display: block;
  margin-bottom: 3em;
}

.row:nth-child(1) .copy {
  text-align: center;
}

.row:nth-child(1) .copy__title {
  color: #502050;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.row:nth-child(1) .copy__description {
  color: #937b92;
  font-size: 1rem;
  margin-bottom: 2em;
}

.row:nth-child(1) .reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2em;
  background-color: #f7f2f7;
  margin-bottom: 1em;
  border-radius: 8px;
}

.row:nth-child(1) .reviews__item p {
  color: #502050;
  font-weight: 700;
}

.row:nth-child(1) .reviews__item__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.row:nth-child(1) .reviews__item__stars li {
  margin: 0 .3em;
}

.row:nth-child(2) .cards {
  display: block;
}

.row:nth-child(2) .cards__item {
  background-color: #502050;
  margin-bottom: 1em;
  color: white;
  padding: 2.6em;
  border-radius: 10px;
}

.row:nth-child(2) .cards__item .buyer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}

.row:nth-child(2) .cards__item .buyer__info__photo {
  width: 40px;
  border-radius: 50%;
  margin-right: 1.3em;
}

.row:nth-child(2) .cards__item .buyer__info__status {
  color: #937b92;
  margin-top: 5px;
}

.row:nth-child(2) .cards__item .buyer__testimonial {
  font-weight: 500;
  color: #f7f2f7;
}

.container {
  margin: 4em 2em;
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .row:nth-child(1) {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 6em;
    justify-items: center;
  }
  .row:nth-child(1) .copy {
    text-align: left;
  }
  .row:nth-child(1) .copy__title {
    font-size: 3.5rem;
  }
  .row:nth-child(1) .copy__description {
    font-size: 1.1rem;
  }
  .row:nth-child(1) .reviews__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .row:nth-child(1) .reviews__item:nth-child(1) {
    margin-left: -5em;
    -webkit-transform: translateX(-3.6em);
            transform: translateX(-3.6em);
  }
  .row:nth-child(1) .reviews__item:nth-child(2) {
    margin-left: -3em;
    padding-right: 3em;
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
  }
  .row:nth-child(1) .reviews__item:nth-child(3) {
    margin-left: -4em;
    -webkit-transform: translateX(3em);
            transform: translateX(3em);
  }
  .row:nth-child(1) .reviews__item__stars {
    margin-bottom: 0;
    margin-right: 2em;
  }
  .row:nth-child(2) .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
  .row:nth-child(2) .cards__item {
    padding: 2em;
  }
  .row:nth-child(2) .cards__item:nth-child(2) {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  .row:nth-child(2) .cards__item:nth-child(3) {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  .container {
    margin: 6em;
  }
}
/*# sourceMappingURL=main.css.map */