:root {
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6565e7), to(#af67e9));
  background-image: linear-gradient(to top, #6565e7, #af67e9);
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 14em;
  background-color: white;
  padding: 6em 0;
  padding-right: 6em;
  border-radius: 2rem;
  background-image: url("../../images/bg-pattern-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -48em -25em;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.card .title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: .85em;
}

.card .illustration {
  overflow-x: hidden;
}

.card .illustration__woman {
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
}

.card .illustration__woman:nth-child(2) {
  display: none;
}

.card .illustration__box {
  position: absolute;
  bottom: 9.6em;
  left: -7.5em;
  z-index: 2;
}

.card .accordion-items .accordion {
  border-bottom: 1px solid #e7e7e9;
  padding: 1.6em 0;
}

.card .accordion-items .accordion__button {
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
  color: #1d1e35;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.card .accordion-items .accordion__state:hover .accordion__button {
  color: #f47c57;
}

.card .accordion-items .accordion__state.active .accordion__button {
  font-weight: bold;
}

.card .accordion-items .accordion__panel {
  display: none;
  margin-top: 10px;
  color: #787887;
}

.card .accordion-items .accordion .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 375px) {
  .card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 15em 2em;
    padding: 3em;
    background-image: url("../../images/bg-pattern-mobile.svg");
    background-size: auto;
    background-position: top;
    width: 90%;
  }
  .card .title {
    text-align: center;
  }
  .card .illustration {
    overflow: visible;
  }
  .card .illustration__woman:nth-child(1) {
    display: none;
  }
  .card .illustration__woman:nth-child(2) {
    display: block;
    -webkit-transform: translate(0, -1.3em);
            transform: translate(0, -1.3em);
    margin-top: -12em;
    margin-bottom: 3em;
  }
  .card .illustration__box {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */